@import url('https://fonts.googleapis.com/css2?family=Autour+One:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .morphism {
    /*background: rgba(149, 0, 255, 0.19);*/
    box-shadow: 0 8px 20px 0 rgba(93, 3, 121, 0.37);
    /*backdrop-filter: blur( 12px );*/
    /*-webkit-backdrop-filter: blur( 12px );*/
    border-radius: 50px;
    /*border: 2px solid rgb(174, 0, 255);*/

  }

  .glass-shadow {
    box-shadow: 0 8px 20px 0 rgba(93, 3, 121, 0.37);
  }

  .bg-gradient {
    background: linear-gradient(90deg, #8A74C5 0%, #5C49B1 95.83%);
  }

  .bg-gradient-new {
    background: linear-gradient(90deg, #EFCDF1 0%, #E6B8FF 20.83%, #795FCA 61.46%, #2A227E 95.83%);
  }

  .soft-circle {
    border-radius: 609px;
    background: rgba(255, 226, 255, 0.20);
    filter: blur(21px);
  }

  .wagmi-gradient {
    background: linear-gradient(91deg, #FFF 5.37%, #E6BEF9 28.63%, #CCA4FF 51.45%, #FFB7F8 83.11%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient {
    background: linear-gradient(91deg, #9320DA 5.37%, #A23ED0 28.63%, #8643DB 51.45%, #EA37D8 83.11%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-mobile {
    background: linear-gradient(91deg, #9320DA 5.37%, #A23ED0 28.63%, #EA37D8 51.45%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .tokenomics {
    background: linear-gradient(90deg, #7940DB 0%, #C426EE 60.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .purple-gradient {
    background: linear-gradient(90deg, #805FB8 0%, #3B009F 60.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .font-autour {
    font-family: "Autour One", sans-serif;
    font-style: normal;
    line-height: normal;
  }

  .z-behind {
    z-index: -1;
  }

  .btn-gradient-purple {
    border-radius: 20px;
    border: 1px solid #B683EA;
    background: linear-gradient(92deg, rgba(147, 32, 218, 0.80) 9.88%, rgba(205, 109, 255, 0.80) 36.14%, rgba(173, 0, 255, 0.80) 65.36%, rgba(112, 0, 255, 0.47) 97.19%);
    box-shadow: 1px 3px 5px 2px rgba(93, 44, 122, 0.49);
  }

  .btn-gradient-dark {
    border-radius: 20px;
    border: 1px solid #B683EA;
    background: linear-gradient(92deg, rgba(128, 19, 212, 0.80) 9.88%, rgba(194, 126, 231, 0.80) 36.14%, rgba(163, 44, 205, 0.80) 65.36%, rgba(255, 19, 231, 0.80) 97.19%);
    box-shadow: 1px 3px 5px 2px rgba(93, 44, 122, 0.49);
  }

  .btn-gradient-light {
    border-radius: 20px;
    border: 1px solid #B683EA;
    background: linear-gradient(92deg, rgba(165, 88, 211, 0.80) 9.88%, rgba(210, 116, 255, 0.80) 37.1%, rgba(132, 35, 255, 0.42) 97.19%);
    box-shadow: 4px 4px 4px 2px rgba(93, 44, 122, 0.49);
  }

  .glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #222;
  }

  .glitch {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    animation: shift 4s ease-in-out infinite alternate;
    z-index: 1;
  }

  .glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    text-shadow: -1px 0 #00ffff;
    width: 100%;
    color: #fff;
    background-color: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
  }

  .glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    text-shadow: 1px 0 #ff00ff;
    width: 100%;
    color: #fff;
    background-color: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
  }

  @keyframes noise-before {
    0% {
      clip: rect(61px, 9999px, 52px, 0);
    }

    5% {
      clip: rect(33px, 9999px, 144px, 0);
    }

    10% {
      clip: rect(121px, 9999px, 115px, 0);
    }

    15% {
      clip: rect(144px, 9999px, 162px, 0);
    }

    20% {
      clip: rect(62px, 9999px, 180px, 0);
    }

    25% {
      clip: rect(34px, 9999px, 42px, 0);
    }

    30% {
      clip: rect(147px, 9999px, 179px, 0);
    }

    35% {
      clip: rect(99px, 9999px, 63px, 0);
    }

    40% {
      clip: rect(188px, 9999px, 122px, 0);
    }

    45% {
      clip: rect(154px, 9999px, 14px, 0);
    }

    50% {
      clip: rect(63px, 9999px, 37px, 0);
    }

    55% {
      clip: rect(161px, 9999px, 147px, 0);
    }

    60% {
      clip: rect(109px, 9999px, 175px, 0);
    }

    65% {
      clip: rect(157px, 9999px, 88px, 0);
    }

    70% {
      clip: rect(173px, 9999px, 131px, 0);
    }

    75% {
      clip: rect(62px, 9999px, 70px, 0);
    }

    80% {
      clip: rect(24px, 9999px, 153px, 0);
    }

    85% {
      clip: rect(138px, 9999px, 40px, 0);
    }

    90% {
      clip: rect(79px, 9999px, 136px, 0);
    }

    95% {
      clip: rect(25px, 9999px, 34px, 0);
    }

    100% {
      clip: rect(173px, 9999px, 166px, 0);
    }
  }

  @keyframes noise-after {
    0% {
      clip: rect(26px, 9999px, 33px, 0);
    }

    5% {
      clip: rect(140px, 9999px, 198px, 0);
    }

    10% {
      clip: rect(184px, 9999px, 89px, 0);
    }

    15% {
      clip: rect(121px, 9999px, 6px, 0);
    }

    20% {
      clip: rect(181px, 9999px, 99px, 0);
    }

    25% {
      clip: rect(154px, 9999px, 133px, 0);
    }

    30% {
      clip: rect(134px, 9999px, 169px, 0);
    }

    35% {
      clip: rect(26px, 9999px, 187px, 0);
    }

    40% {
      clip: rect(147px, 9999px, 137px, 0);
    }

    45% {
      clip: rect(31px, 9999px, 52px, 0);
    }

    50% {
      clip: rect(191px, 9999px, 109px, 0);
    }

    55% {
      clip: rect(74px, 9999px, 54px, 0);
    }

    60% {
      clip: rect(145px, 9999px, 75px, 0);
    }

    65% {
      clip: rect(153px, 9999px, 198px, 0);
    }

    70% {
      clip: rect(99px, 9999px, 136px, 0);
    }

    75% {
      clip: rect(118px, 9999px, 192px, 0);
    }

    80% {
      clip: rect(1px, 9999px, 83px, 0);
    }

    85% {
      clip: rect(145px, 9999px, 98px, 0);
    }

    90% {
      clip: rect(121px, 9999px, 154px, 0);
    }

    95% {
      clip: rect(156px, 9999px, 44px, 0);
    }

    100% {
      clip: rect(67px, 9999px, 122px, 0);
    }
  }

  @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
    }

    41% {
      transform: skewX(10deg);
    }

    42% {
      transform: skewX(-10deg);
    }

    59% {
      transform: skewX(40deg) skewY(10deg);
    }

    60% {
      transform: skewX(-40deg) skewY(-10deg);
    }

    63% {
      transform: skewX(10deg) skewY(-5deg);
    }

    70% {
      transform: skewX(-50deg) skewY(-20deg);
    }

    71% {
      transform: skewX(10deg) skewY(-10deg);
    }
  }
}